<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">
<config>

	<module name="global">
		<param name="randomSeed" value="4711" />
		<param name="coordinateSystem" value="EPGS: 2284" />
	</module>

	<module name="network">
		<param name="inputNetworkFile" value="OutputNET_selected_links.xml" />
	</module>

	<module name="plans">
		<param name="inputPlansFile" value="population_with_externals—2M_V1.1pct.xml.gz" />
	</module>

	<module name="planscalcroute" >
		<!-- Defines how access and egress to main mode is simulated. Either of [none, accessEgressModeToLink, walkConstantTimeToLink, accessEgressModeToLinkPlusTimeConstant], Current default=none which means no access or egress trips are simulated. -->
		<param name="accessEgressType" value="accessEgressModeToLink" />
		<!-- Some typical teleportation routing params are set by default, such as for walk and bike.  Setting this switch to "true" will clear them.  Note that this will also clear settings for helper modes such as for non_network_walk -->
		<param name="clearDefaultTeleportedModeParams" value="false" />
		<!-- All the modes for which the router is supposed to generate network routes (like car) -->
		<param name="networkModes" value="car, bike" />
		<!-- strength of the randomness for the utility of money in routing under toll.  Leads to Pareto-optimal route with randomly drawn money-vs-other-attributes tradeoff. Technically the width parameter of a log-normal distribution. 3.0 seems to be a good value.  -->
		<param name="routingRandomness" value="3.0" />
		

		<parameterset type="teleportedModeParameters" >
			<param name="beelineDistanceFactor" value="1.1" />
			<param name="mode" value="walk" />
			<param name="teleportedModeFreespeedFactor" value="null" />
			<param name="teleportedModeSpeed" value="0.8333333333333333" />
		</parameterset>
		<parameterset type="teleportedModeParameters" >
			<param name="beelineDistanceFactor" value="1.5" />
			<param name="mode" value="undefined" />
			<param name="teleportedModeFreespeedFactor" value="null" />
			<param name="teleportedModeSpeed" value="6.5" />
		</parameterset>

	</module>
	
	<module name="controler">
		<param name="outputDirectory" value="./output" />
		<param name="firstIteration" value="0" />
		<param name="lastIteration" value="40" />
		<!--  iterationNumber % writeEventsInterval == 0 defines in which iterations events are written to a file. `0' disables events writing completely.  -->
		<param name="writeEventsInterval" value="10"/>
		<!--  iterationNumber % writePlansInterval == 0 defines (hopefully) in which iterations plans are written to a file. `0' disables plans writing completely.  Some plans in early iterations are always written  -->
		<param name="writePlansInterval" value="10"/>
		<!--  iterationNumber % writeEventsInterval == 0 defines in which iterations trips CSV are written to a file. `0' disables trips writing completely.  -->
		<param name="writeTripsInterval" value="10"/>		
	</module>

	<module name="qsim">
		<!-- "start/endTime" of MobSim (00:00:00 == take earliest activity time/ run as long as active vehicles exist) -->
		<param name="startTime" value="00:00:00" />
		<param name="endTime" value="36:00:00" />
		<param name = "flowCapacityFactor" value="0.018" />
		<param name = "storageCapacityFactor" value="0.016" />
		<param name = "snapshotperiod"	value = "00:00:00"/> <!-- 00:00:00 means NO snapshot writing -->
		<param name="mainMode" value="car,bus,ferry, tram, bike" />
	</module>

	<module name="planCalcScore">
		<param name="learningRate" value="1.0" />
		<param name="BrainExpBeta" value="2.0" />

		<param name="lateArrival" value="-18" />
		<param name="earlyDeparture" value="-0" />
		<param name="performing" value="+6" />
		<param name="waiting" value="-0" />

		<parameterset type="modeParams" >
			<!-- [utils] alternative-specific constant.  Normally per trip, but that is probably buggy for multi-leg trips. -->
			<param name="constant" value="0.0" />
			<!-- [unit_of_money/day] Fixed cost of mode, per day. -->
			<param name="dailyMonetaryConstant" value="0.0" />
			<!-- [utils] daily utility constant. default=0 to be backwards compatible -->
			<param name="dailyUtilityConstant" value="0.0" />
			<!-- [utils/m] utility of traveling (e.g. walking or driving) per m, normally negative.  this is on top of the time (dis)utility. -->
			<param name="marginalUtilityOfDistance_util_m" value="0.0" />
			<!-- [utils/hr] additional marginal utility of traveling.  normally negative.  this comes on top of the opportunity cost of time -->
			<param name="marginalUtilityOfTraveling_util_hr" value="-6.5" />
			<param name="mode" value="pt" />
			<!-- [unit_of_money/m] conversion of distance into money. Normally negative. -->
			<param name="monetaryDistanceRate" value="0.0" />
		</parameterset>
			
		<parameterset type="modeParams" >
			<param name="constant" value="-1.5512" />
			<param name="marginalUtilityOfDistance_util_m" value="-5" />
			<param name="marginalUtilityOfTraveling_util_hr" value="0" />
			<param name="mode" value="bike" />
			<param name="monetaryDistanceRate" value="0.0" />
		</parameterset>
		<parameterset type="modeParams" >
			<param name="constant" value="-0.051911253" />
			<param name="marginalUtilityOfDistance_util_m" value="0.0" />
			<param name="marginalUtilityOfTraveling_util_hr" value="0" />
			<param name="mode" value="car" />
			<param name="monetaryDistanceRate" value="-0.0005" />
		</parameterset>
		<parameterset type="modeParams">
			<param name="mode" value="undefined"/>
			<param name="marginalUtilityOfTraveling_util_hr" value="-5.0" />
		</parameterset>
		<parameterset type="activityParams" >
			<param name="activityType"            value="home" /> <!-- home -->
			<param name="priority"        value="1" />
			<param name="typicalDuration" value="12:00:00" />
		</parameterset>
		<parameterset type="activityParams" >
			<param name="activityType"            value="work" /> <!-- work -->
			<param name="priority"        value="1" />
			<param name="typicalDuration" value="08:00:00" />
			<param name="openingTime"     value="07:00:00" />
			<param name="latestStartTime" value="09:00:00" />
			<param name="earliestEndTime" value="" />
			<param name="closingTime"     value="18:00:00" />
		</parameterset>
		<parameterset type="activityParams" >
			<param name="activityType"            value="education" />
			<param name="priority"        value="1" />
			<param name="typicalDuration" value="08:00:00" />
		</parameterset>
		<parameterset type="activityParams" >
			<param name="activityType"            value="shop" /> <!-- shop -->
			<param name="priority"        value="1" />
			<param name="typicalDuration" value="00:40:00" />
			<param name="minimalDuration" value="00:10:00" />
			<param name="openingTime"     value="08:00:00" />
			<param name="latestStartTime" value="" />
			<param name="earliestEndTime" value="" />
			<param name="closingTime"     value="20:00:00" />
		</parameterset>
		<parameterset type="activityParams" >
			<param name="activityType"            value="leisure" />
			<param name="priority"        value="1" />
			<param name="typicalDuration" value="08:00:00" />
		</parameterset>
		<parameterset type="activityParams" >
			<param name="activityType"            value="other" />
			<param name="priority"        value="1" />
			<param name="typicalDuration" value="08:00:00" />
		</parameterset>
	</module>
	
	<module name="strategy">
		<param name="maxAgentPlanMemorySize" value="5" /> <!-- 0 means unlimited -->

		<parameterset type="strategysettings">
			<param name="strategyName" value="BestScore"/>
			<param name="weight" value="0.5"/>
		</parameterset>

		<parameterset type="strategysettings">
			<param name="strategyName" value="ReRoute"/>
			<param name="weight" value="0.2"/>
		</parameterset>

		<parameterset type="strategysettings">
			<param name="strategyName" value="TimeAllocationMutator"/>
			<param name="weight" value="0.2"/>
		</parameterset>

		<parameterset type="strategysettings">
			<param name="strategyName" value="ChangeTripMode"/>
			<param name="weight" value="0.1"/>
		</parameterset>

	</module>
	
	<module name="linkStats" >
		<!-- Specifies over how many iterations the link volumes should be averaged that are used for the link statistics. Use 1 or 0 to only use the link volumes of a single iteration. This values cannot be larger than the value specified for writeLinkStatsInterval -->
		<param name="averageLinkStatsOverIterations" value="10" />
		<!-- Specifies how often the link stats should be calculated and written. Use 0 to disable the generation of link stats. -->
		<param name="writeLinkStatsInterval" value="10" />
	</module>
	<module name="transit">
		<param name="useTransit" value="true" />
		<param name="transitScheduleFile" value="outputschedule.xml" />
		<param name="vehiclesFile" value="vehicle_1prc.xml" />
		<param name="transitModes" value="pt" />
	</module>	
	
	<module name="transitRouter" >
		<!-- maximum beeline distance between stops that agents could transfer to by walking -->
		<param name="maxBeelineWalkConnectionDistance" value="100.0" />
		<!-- the radius in which stop locations are searched, given a start or target coordinate -->
		<param name="searchRadius" value="500.0" />
	</module>
	
	

	<module name="changeMode">
		<param name="modes" value="car,pt,bike" />
	</module>

	<module name="travelTimeCalculator">
		<param name="filterModes" value="true" />
	</module>
</config>
